body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #e9f4f5de;
}

header{
    position: fixed;
    transition-timing-function: linear;
    top: -10%;
    left: 0;
    background-color: #fcb103;
    height: 10%;
    width: 100%;
    z-index: 100;
}

h3{
    color: #242322;
    transition-timing-function: linear;
    font-size: 30px;
    display: inline-block;
    position: relative;
    top: -10%;
    left: 4.2%;
    width: auto;
    margin: 1.2%;
}

.nav{
    right:9%;
    transition-timing-function: linear;
    top: -10%;
    align-self: right;
    position: fixed;
    display: flex;
    height:2.3%;
}

.pageLink{
    color: #242322;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    display: flex;
    padding: 20px;
    padding-bottom: 28px;
    padding-top: 22px;

}

.pageLink:hover{
    color: #242322;
    background-color: lightblue;
    height: 100%;
}

#main{
    display: none;
    background-color: #e9f4f5de;
    position: absolute;
    left: 2%;
    right: 2%;
    top: 5%;
    width: 85%;
    min-height: 84.8%;
    margin: auto;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
    justify-self: center;
    text-align: center;
    border-right: solid;
    border-left: solid;
    border-width: 1px;
    border-color: #00000018;
}

h1{
    position: relative;
    margin: auto;
    display: block;
    color: black;
}

p{
    color: #242322;
}


#wrapper{
    margin: 4%;
    display: grid;
    width: 1050px;
    grid-template-columns: 350px 350px 350px;
}

.column-left{
    background-color: #fcb103;
    border-style: solid;
    border-width: 0.5px;
    border-top-left-radius: 10px;
    transition: 1s;
}

.column-middle{
    background-color: #fcb103;
    border-style: solid;
    border-width: 0.5px;
    border-left-width: 0;
    border-right-width: 0;
    transition: 1s;
}

.column-right{
    background-color: #fcb103;
    border-style: solid;
    border-width: 0.5px;
    border-top-right-radius: 10px;
    transition: 1s;
}

.row-left{
    border-style: solid;
    border-width: 0.5px;
    border-top: 0;
    padding: 10px;
    display: none;
    background-color: #e9f4f5;
}

.row-middle{
    border-style: solid;
    border-width: 0.5px;
    border-top: 0;
    padding: 10px;
    border-left-width: 0;
    border-right-width: 0;
    display: none;
    background-color: #e9f4f5;
}

.row-right{
    border-style: solid;
    border-width: 0.5px;
    border-top: 0;
    padding: 10px;
    display: none;
    background-color: #e9f4f5;
}